@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-noto-sans-jp: 'Noto Sans JP', sans-serif;
  --font-adlam-display: 'ADLaM Display', sans-serif;
}

.font-adlam {
  font-family: var(--font-adlam-display);
}
.dark {
      --background: #0a0a0a;
      --foreground: #ededed;
}
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-noto-sans-jp), sans-serif;
}

